footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: $space-xl 0 $space-2xl;

  p {
    font-size: $text-lg;
    margin-bottom: 10px;
    color: $white;
  }

  a {
    font-size: $text-lg;
    color: $white;
    text-decoration: underline;
  }
}