footer {
  color: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: $space-2xl 0;

  p {
    font-size: $text-lg;
  }

  a {
    font-size: $text-lg;
  }
}