header {
  color: $white;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $space-5xl 0 $space-xl;

  h1 {
    font-size: $text-4xl;
    width: 700px;
    margin: 0 auto $space-xl;
    line-height: 1.1;
  }

  p {
    font-size: $text-xl;
    margin: 0 auto;
    width: 80%;
  }
}