.input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  font-size: $text-xl;

  p {
    color: $white;
    margin: 0 10px 0 30px;
  }

  span {
    color: $white;
    margin: 0 10px 0;
  }

  &__dropdown {
    cursor: pointer;
    font-size: $text-xl;
    padding: 8px 4px;
  }
}