//spacing
$space-sm: 4px;
$space-md: 8px;
$space-lg: 16px;
$space-xl: 20px;
$space-2xl: 24px;
$space-3xl: 48px;
$space-4xl: 64px;
$space-5xl: 76px;

//font size
$text-sm: 14px;
$text-md: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 24px;
$text-3xl: 32px;
$text-4xl: 48px;
$text-5xl: 64px;
$text-6xl: 76px;
$text-7xl: 88px;

//container
$max-width: 1200px;