@keyframes fade-in-bottom {
  0% {
    opacity: 0;
    transform: translateY(.75rem);
  }
  to {
    opacity:1;
    transform:translateY(0)
  }
}

@keyframes fade-in-top {
  0% {
    opacity: 0;
    transform: translateY(-.75rem);
  }
  to {
    opacity:1;
    transform:translateY(0)
  }
}

@keyframes fade-in-left {
  0% {
    opacity: 0;
    transform: translateX(-1.5rem);
  }
  to {
    opacity:1;
    transform:translateX(0)
  }
}